thead > tr > th{
    text-align: center;
    margin-top:2px ;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

tbody > tr > td{
    text-align: center;
    border-bottom: 2px solid gray;
}

#display-gs-wrapper{
    display: grid;
    justify-content: center;
}
#display-gs-wrapper > link > button{
    justify-content: center;
}

#action-gs-btn{
    text-decoration: none;
    display: grid;
    align-self: center;
    justify-self: center;
    margin: 3px;
}