/* CSS FOR AllUsers.jsx  */

thead > tr > th{
    text-align: center;
    margin-top:2px ;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

tbody > tr > td{
    text-align: center;
    border-bottom: 2px solid gray;
}

#display-user-wrapper{
    display: grid;
    justify-content: center;
}
#display-user-wrapper > link > button{
    justify-content: center;
}

#action-user-btn{
    text-decoration: none;
    display: grid;
    align-self: center;
    justify-self: center;
    margin: 3px;
}

/* CSS FOR ShowUser.jsx */

/* CSS FOR EditUser.jsx */

.outer-edit-user-container{
    display: grid;
    align-items: center;
    justify-content: center;
}

.inner-edit-user-container{
    min-width: 600px;
    margin: 10px;
}
#input-group {
  margin: 8px;
  display: flex;
  flex-wrap: wrap; /* Wrap input groups to the next line if needed */
  align-items: center;
}

#input-group > label {
  margin: 8px;
}

.label > label{
    min-width: 210px;
}